.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  margin-top: 5.4rem;
  margin-bottom: 7rem;
  padding: 0 2.4rem;
}

.slider {
  width: 2.4rem;
  height: 2.4rem;
  color: #8083a4;
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
}
.slider__prev {
  background-image: url("../../assets/icons/24/chevron-left.svg");
}

.slider__next {
  background-image: url("../../assets/icons/24/chevron-left-1.svg");
}

.slider-disabled {
  opacity: 0.4;
}
