.container {
  --assent: #373af5;
  text-align: center;
  width: 100%;
  background-color: var(--assent);
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../../assets/Background/Academy-Weather\ forecast-Bg-up.png"),
    url("../../assets/Background/Academy-Weather\ forecast-Bg-buttom@2x.png");

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 60px 0;
}

@media screen and (max-width: 1280px) {
  .main {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .container {
    background-image: url("../../assets/Background/Academy-Weather\ forecast-Bg-up-1.png"),
      url("../../assets/Background/Academy-Weather\ forecast-Bg-buttom.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@media screen and (max-width: 890px) {
  .main {
    padding: 24px 10px 78px 10px;
  }
}
