.container {
  --assent: #373af5;

  text-align: center;
  height: 100%;
  background-color: var(--assent);

  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../../assets/Background/Academy-Weather\ forecast-Bg-up.png"),
    url("../../assets/Background/Academy-Weather\ forecast-Bg-buttom@2x.png");

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
